plots/
*.log
slurm_data/
nprocs_split/
functions/__pycache__/
functions/.ipynb_checkpoints/
functions/__init__.py
functions/slurm.err
functions/slurm.out
functions/slurm_data/
slurm_data/
dfout_all.csv
*.err
*.out
raapoi_data.csv
.venv/
