plots/
*.log
./*.csv
*.err
*.out
slurm_data/
nprocs_split/
functions/__pycache__/
functions/.ipynb_checkpoints/
functions/__init__.py
functions/*.err
functions/*.out
functions/slurm_data/
functions/nprocs_split/
.venv/
.*
